.statistics {
  width: 460px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
  background-color: #e3e3e3;
  border-radius: 16px;
}

.title {
  margin-bottom: 4px;
  text-align: center;
  font-size: 24px;
  background-color: #949494;
}

.statList {
  display: flex;
}

.item {
  padding: 8px 0;
  width: 88px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  align-items: center;
}

.label {
  font-size: 18px;
  text-transform: lowercase;
}

.percentage {
  font-size: 20px;
  font-weight: 700;
}
